ul(class='nav navbar-nav navbar-right')
    li
        a(href="#" id="logout")
            p Logout
            script(src="../js/logout.js")
    li
        a(href="#" id="close")
            p Close
            script(src="../js/close.js")
