<!-- Button to open the modal login form -->
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../styles/login.css">
<head>
  <script type="text/javascript" src="../js/jquery-3.5.1.min.js">
  </script>
</head>
<div id=demo>
  <form id="frm_login">
    <div class="container">
      <label for="validation msg" id=validate_msg></label>
      <label for="uname"><b>Username</b></label>
      <input type="text" id="txt_uid" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" id="txt_pwd" placeholder="Enter Password" name="psw" required>
      <button type="submit" id="but_submit">Login</button>
    </div>

    <script type=module src="../js/role.js"></script>
    <script type=module src="../js/db_connect.js"></script>
    <script type=module src="../js/validate_user.js"></script>
    <script type=module src="../js/login.js"></script>

  </form>
</div>
</html>
